body {
  background-color: azure;
  font-size: large;
  text-align: start;
}
h1 {
  color: blueviolet;
  text-align: left;
}
h3 {
  color: violet;
  text-align: left;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
